@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff;
}
.largeheaderText {
  color: #69707d;
  font-family: "Kumbh Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
